.seccion4 {
  padding-bottom: 3rem;
}

.seccion4 .card {
  background-color: #333;
  color: #fff;
}

.jam-close-rectangle {
  display: none;
}

main {
  min-height: 100vh;
}

.carousel-item img {
  height: 350px;
  object-fit: cover;
}

.noticias__carrusel {
  margin: 0 auto;
}

.categorias {
  padding: 3rem 1rem;
}