.containter__card {
    background-image: linear-gradient(to bottom, #F18423, #CFDB2F);
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
  }

  .jam-close-rectangle {
    display: none;
  }