.seccion4 {
  padding-bottom: 3rem;
}

.seccion4 .card {
  background-color: #333;
  color: #fff;
}

.jam-close-rectangle {
  display: none;
}

main {
  min-height: 100vh;
}

.carousel-item img {
  height: 350px;
  object-fit: cover;
}

.noticias__carrusel {
  margin: 0 auto;
}

.categorias {
  padding: 3rem 1rem;
}

.btn {
  background-color: white;
  border: 1px solid #333;
  color: #333;
}


.grid__texto {
  position: absolute;
  top: 0;   
  right: 0;
  background-color: rgba(0, 0, 0, 0.801);   
  color: white;
  padding: 0.5rem 1rem;
  display: inline-block;
}